<footer class="site-footer">
    <div class="container">
        <!-- Cсылки на локацию и усливия франшизы -->
        <div class="site-footer__block">
            
                 <button class="footer-button">
                <div class="footer-button__block">
                <span class="footer-button__text">Our Locations</span>
                <svg width="5" height="10">
                <use></use>
              </svg></div></button> 

              <button class="footer-button">
                <div class="footer-button__block">
                <span class="footer-button__text">Franchise</span>
                <svg width="5" height="10">
                <use></use>
              </svg></div></button> 
          
            </div>

       <!-- Заголовки footer -->
        <div class="site-footer__titles">
        <h2 class="site-footer__title">homemade ice cream made</h2>
        <h1 class="site-footer__main-title">with passion</h1>
       </div>

       <!-- Социальные иконки и телефон -->
        <div class="site-footer__contacts">
        <ul class="foot-social">
            <li><a href="" class="foot-social__link"> <svg class="foot-social__icon"><use ></use></svg></a></li>
            <li><a href="" class="foot-social__link"> <svg class="foot-social__icon"><use ></use></svg></a></li>      
            <li><a href="" class="foot-social__link"> <svg class="foot-social__icon"><use ></use></svg></a></li>            
        </ul>   

            <div class="foot-social__contact"><span>Feel free to contact</span><a class="foot-social__mobile" href="" >+61 (0) 383 766 284</a></div>   
        </div>
    </div>
        <!-- Полоска footer svg
      <div class="site-footer__line"><svg><use></use></svg></div>  -->
        
      <!-- Полоска footer border!
         border-top: 1px solid #e1e1e1 
         text-align: center;-->

      <!-- copyright footer -->
      <div class="site-footer__copyright "><span class="sub">&copy; 2022 - IceCream. All Rights Reserved. </span></div>

    
</footer>

